{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Snippets</title>

</head>

<body>
    <header>
        <div class="user_account">{% if user.is_authenticated %}
            <div class="username">Signed in as: {{request.user.username}}</div>
            <div><a href="/snippets/profile/">Account</a></div>
            <div><a href="{% url 'snippets' %}">Snippet Database</a></div>
            <a href="{% url 'create_snippet' %}" class="top-menu">
                Create A Snippet
            </a>
            <div><a href="/accounts/logout">Logout</a></div>
            {% else %} 
            <div><a href="/accounts/login">Login</a></div>
            <div><a href="/accounts/register">Sign Up</a></div>
            <div><a href="{% url 'snippets' %}">Snippet Database</a></div>
            {% endif %} 
        </div> 
    </header>

    <h1>Snippets</h1>
    {% block content %}
    {% endblock %}  
</body>
</html>


